.event-container {
    width: 250px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: perspective(500px) translateZ(10px);
    }
}

.title {
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.title, .event-type, .location, .date{
    margin: 0 0 10px;
    font-size: 11px;
    color: #333;
}

.description {
    display: grid;
    margin: 0 0 10px;
    font-size: 11px;
    color: #333;
}

.event p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

img {
    width: 100%;
    max-height: 150px;
    height: auto;
    margin-bottom: 5px;
}

